<h1 class="text-center mb-4">Cartelera de Películas</h1>
<%= link_to 'Agregar Película', new_movie_path, class: 'btn btn-primary' %>
<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Título</th>
      <th>Género</th>
      <th>Estado</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.genre %></td>
        <td>
          <% if movie.clients.any? %>
            <span class="badge bg-danger">Arrendada por: <%= movie.clients.map(&:name).join(", ") %></span>
          <% else %>
            <span class="badge bg-success">Disponible</span>
          <% end %>
        </td>
        <td>
          <% if movie.clients.any? %>
            <span>No disponible</span>
          <% else %>
            <%= link_to 'Arrendar', edit_movie_path(movie), class: "btn btn-primary btn-sm" %>
          <% end %>

          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
