<h1>Detalles del Cliente</h1>

<p>
  <strong>Nombre:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Película Arrendada:</strong>
  <% if @client.movie %>
    <%= @client.movie.title %>
  <% else %>
    Ninguna película arrendada.
  <% end %>
</p>

<%= link_to 'Editar', edit_client_path(@client), class: "btn btn-primary" %> |
<%= link_to 'Eliminar', @client, method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-danger" %> |
<%= link_to 'Volver', clients_path, class: "btn btn-secondary" %>
